
<%= form_for(reminder, :url => url_for(:controller=> :reminders, :action => 'send_later')) do |f| %>
	<%= f.hidden_field :id, :value => reminder.id %>
	<%= f.hidden_field :expense_id, :value => expense_id %>
	<%#= f.date_select :date, :include_blank => true %>
	<%= f.text_field :date, :class => "datepicker", :size => 12, :value => @the_date, :include_blank => true %>
	<div class="float_right" style="width:50px;"><%= image_submit_tag "icons/go.png", :width => 15, :title => "Create Reminder" %></div>
    <% end %>
