<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :expense %><br />
    <%= f.select :expense_id, @expenses.to_a.collect{|a| [a.item, a.id]} %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.select :user_id, @users.to_a.collect{|a| [a.firstName + " " + a.lastName, a.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
