<div class="nice_box float_left">
    <span class="big_link"><%= link_to 'New Comment', new_comment_path %></span>
</div>

<br /><br /><br />
<h1>Listing contested expenses</h1>
  <% @expenses.each do |expense| %>
    <% if expense.comments.count > 0 %>

        <table class="std_fmt">
          <tr>
            <th>Expense</th>
            <th>Price</th>
            <th>Resolved</th>
            <th>Created By</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td><%= link_to expense.item, expense %></td>
            <td>$<%= "%.2f" % expense.price %></td>
            <td><% if expense.resolved %>Yes<%else%>No<%end%></td>
            <td><%= expense.user.full_name %> </td>
            <td><% if expense.user.id == current_user.id %><%= link_to 'Edit', edit_expense_path(expense) %><%end%></td>
          </tr>
        </table>
          <div class=" block"> 
          <table class="std_fmt">
            <% expense.comments.each do |comment| %>
            <tr>
              <td colspan="4"><span class="name_text"><%= comment.user.full_name %></span>: <i>"<%= comment.comment %>"</i> </td>
              <td><% if current_user.id == comment.user_id %><%= link_to 'Edit', edit_comment_path(comment)%> <%= link_to 'Delete', comment, confirm: 'Are you sure?', method: :delete %> <%end%></td>
            </tr>
            <% end %>
          </table>
          </div>
    <% end %>
    <br>
  <% end %>

    <% if @comments.count == 0 %>
        <br />
        <div style="text-align:center"><span class="big_link">There are no comments. <%= link_to 'Make one?', new_comment_path %></span></div>
        <br />
    <% end %>

<br />
<br />


