<h1> Comment Expense </h1>
<p id="notice"><%= notice %></p>


<table class="std_fmt">
	<tr>
		<th> Comment </th>
		<th> Expense </th>
		<th> User </th>
	</tr>
	<tr> 
		<td> <%= @comment.comment %> </td>
		<td> <%= @comment.expense.item %> </td>
		<td> <%= @comment.user.full_name %> </td>
	</th>
</table>
<br>
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
