View <%= link_to "Consolidated Debts", households_path %> 
<h1>Outstanding Debts</h1>

<% if @debts.count > 0 %>
      <% @expenses.each do |expense| %>
      <% debt = expense.debts.find_by_user_id(current_user.id) # user's debt record for this expense %>
      <% comment = expense.comments.find_by_user_id(current_user.id) # user's comment record %>
      <% if comment == nil %>
        <% comment = "" %>
      <% else %>
        <% comment = comment.comment %>
      <% end %>
      <% if debt != nil %>
        <div class="lg_dash_box float_left">
          <div class="center">You owe <b><%= expense.user.firstName %></b> 
            $<%= (debt.percentage_owed*expense.price/100).round(2)%> of $<%= expense.price %> 
            for <b><span title="<%= debt.expense.description %>"><%= expense.item %></span></b>
          </div>
        </div>
        <div class="float_right" style="margin-right:20px;margin-top:10px;">
            <a href="#">Pay</a>&nbsp;&nbsp;or&nbsp;&nbsp;
            <span id="text<%=debt.id %>" class="hand" onclick="toggleComment('<%=debt.id %>')">Contest</span>
        </div>
        <div id="debt<%=debt.id %>" class="float_right hidden" style="width:650px;">
          <br />
          <%= form_for(:comment, :url => url_for(:controller=> :comments, :action => 'create')) do |f| %>
            <div class="float_left" style="margin:0 0 30px 130px;">
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :expense_id, :value => debt.expense_id %>
              <%= f.text_area :comment, :value => comment, :class => "expense_cmt_box", :id => "box"+debt.id.to_s, :onfocus => "setFocus('box"+debt.id.to_s+"')", :onblur => "remFocus('box"+debt.id.to_s+"')" %>
            </div>
            <div class="float_right" style="width:90px;"><%= submit_tag "POST", :width => 15, :title => "Create Reminder", :class => "button big_link hand" %></div>
              <% end %>
        </div>     
      <%end%>
      <% end %>
     
<% else %>
    <br />
    <div style="text-align:center"><span class="big_link">You do not have any outstanding debts.</span></div>
    <br />
<% end %>

<br /><br />
<br />
<% if @debts_paid.count > 0 %>
  <div class="block float_right" style="width:650px;">
  <div onclick="togglePaid()"><h1>Debts Paid<h3>(Click to view)</h3></h1></div>
      <div id="debtsPaid" class="hidden">
      <% @debts_paid.each do |debt| %>
        <div class="lg_dash_box float_left">
          <div class="center">You owe <b><%= debt.expense.user.firstName %></b> 
            $<%= (debt.percentage_owed*debt.expense.price/100).round(2)%> of $<%= debt.expense.price %> 
            for <b><span title="<%= debt.expense.description %>"><%= debt.expense.item %></span></b>
          </div>
        </div>
        <div class="float_right" style="margin-right:20px;margin-top:10px;">
            &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'View Details', debt.expense %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>



<br /><br />
