View <%= link_to "Consolidated Debts", households_path %> 
<h1>Outstanding Debts</h1>

<% if @debts.count > 0 %>
      <% @debts.each do |debt| %>
        <div class="lg_dash_box float_left">
          <div class="center">You owe <b><%= debt.expense.user.firstName %></b> 
            $<%= (debt.percentage_owed*debt.expense.price/100).round(2)%> of $<%= debt.expense.price %> 
            for <b><span title="<%= debt.expense.description %>"><%= debt.expense.item %></span></b>
          </div>
        </div>
        <div class="float_right" style="margin-right:20px;margin-top:10px;">
            <a href="#">Pay</a>&nbsp;&nbsp;or&nbsp;&nbsp;
            <span id="text<%=debt.id %>" class="hand" onclick="toggleComment('<%=debt.id %>')">Contest</span>
        </div>
        <div id="debt<%=debt.id %>" class="float_right hidden" style="width:650px;">
          <br />
          <div class="float_left" style="margin:0 0 30px 130px;"><textarea id="box<%=debt.id %>" onfocus="setFocus('box<%=debt.id %>')" onblur="remFocus('box<%=debt.id %>')" class="expense_cmt_box"></textarea></div>
          <div class="float_right">&nbsp;&nbsp;&nbsp;&nbsp;<input class="button big_link hand" type="button" value="POST" /></div>
        </div> 
      <% end %>
<% else %>
    <br />
    <div style="text-align:center"><span class="big_link">You do not have any outstanding debts.</span></div>
    <br />
<% end %>

<br /><br />
<br />
<% if @debts_paid.count > 0 %>
  <div class="block float_right" style="width:650px;">
  <div onclick="togglePaid()"><h1>Debts Paid<h3>(Click to view)</h3></h1></div>
      <div id="debtsPaid" class="hidden">
      <% @debts_paid.each do |debt| %>
        <div class="lg_dash_box float_left">
          <div class="center">You owe <b><%= debt.expense.user.firstName %></b> 
            $<%= (debt.percentage_owed*debt.expense.price/100).round(2)%> of $<%= debt.expense.price %> 
            for <b><span title="<%= debt.expense.description %>"><%= debt.expense.item %></span></b>
          </div>
        </div>
        <div class="float_right" style="margin-right:20px;margin-top:10px;">
            &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'View Details', debt.expense %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>



<br /><br />
