<h1> Debt Lookup </h1>


<table class="std_fmt">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
    <th>Percentage Owed</th>
    <th>User</th>
    <th>Paid</th>
    <th></th>

  </tr>


  <tr>
    <td><%= @debt.expense.item %></td>
    <td><%= @debt.expense.description %></td>
    <td>$<%="%.2f" % @debt.expense.price %></td>
    <td><%= @debt.percentage_owed %>%</td>
    <td><%= @debt.user.full_name %></td>
    <td><%= @debt.paid %></td>
    <td><%= link_to 'Edit', edit_debt_path(@debt) %></td>
  </tr>

</table>

<br />
<%= link_to 'Back', debts_path %>

