

<% if user_signed_in? %>

	<div style="margin-right: 35px;"><h1>Dashboard</h1></div>

	<div class="wrap_box">
		<div class="dash_box" style="float:left;">
			<br />
			<a class="big_link" href="/expenses/new">Create New Expense</a></span>
		</div>
		<div class="dash_box" style="float:right;">
			<br />
			<a class="big_link" href="/users/<%=current_user.id%>/edit">Edit Profile</a></span>
		</div>
	</div>

	<div class="wrap_box">
		<% if @household_created %>	
		<div class="dash_box" style="float:left;">

				<h3>You have  <%= pluralize(@debts.count, "debt") %> Outstanding!</h3>
				<% if @debts.count == 0 %>
					<div> 
						<div style="float:left;padding-left:45px;"><span class="big_text">You're GOOD </span></div>
						<div style="float:right;padding-right:45px;"><img src=<%= asset_path 'thumbs_up.gif'%> /></div>
					</div>
				<% elsif @debts.count > 0 %>
					<ul>
					<% @debts.each do |debt| %>
					<li>
					  	You owe <b><%= debt.expense.user.firstName %> <%=debt.expense.user.lastName%></b> 
					  	<%= (debt.percentage_owed*debt.expense.price/100).round(2) %> for 
					  	<b><%= link_to debt.expense.item,debt%></b> (<%=debt.get_share %>)

					</li>
					<% end %>
					</ul>
				<% else %>
					<p>You have no expenses yet! </p>
				<% end %>
		</div>
		<% end %>
		<div class="dash_box" style="float:right;">
			<h3>Your Household</h3>
			<% if !@household_created %> 
				<p class="notice"><%= flash[:notice] %> <%= link_to "Create one now?", households_path %></p> 
			<% else %> 
				<p>
					<ul>

                          <li>
                            <%= @house_head.full_name %> <b>(BOSS)</b>
                          </li>


                      <% @house_member.each do |member| %>
                          <li>
                            <%= member.full_name %>
                          </li>
                      <% end %>

					</ul>
				</p>
			<% end %>
		</div>
	</div>

	<div class="dash_box" style="float:left;width:570px;">
	<% if @expenses.exists?(:user_id=>current_user.id) %>
		<h3>Expenses You've Created</h3>
		<p align="left">
			<% @expenses.each do |expense| %>
				<% if expense.user_id == @current_user.id %>
				<b>$<%=expense.price%></b> FOR <span class="item" title="<%=expense.description%>"><%=expense.item%></span> on <%=expense.created_at.to_s[0,10]%> <br />
				<% end %>
			<% end %>
		</p>
	<% else %>
		<br />
		<span class="big_link">You have not created any expenses.</span>
	<% end %>
	</div>


<% else %>

	<h1>Not Your Mom</h1>
	<div id="user_nav">
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	  <% else %>
	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> or
	    <%= link_to 'Login with Facebook', '/auth/facebook/' %>
	  <% end %>
	</div>
	
<% end %>
