

<% if user_signed_in? %>

	<h1>Dashboard</h1>
	<h3>Debts that Need to be Resolved</h3>
	<% if !@household_created %> 
		<p class="notice"><%= flash[:notice] %> <%= link_to "Create one now?", households_path %></p> 
	<% else %>

		<% @debts.each do |debt| %>
		<p>
			<% total = @expenses.find{|e|e.id==debt.expense_id}.price %>
			<% expense_created_by = @expenses.find{|d| d.id==debt.expense_id}.user_id %>
			<% created_user = @users.find{|u| u.id==expense_created_by }%>
		  	You owe <b><%= created_user.firstName %> <%= created_user.lastName %></b> 
		  	<%= debt.percentage_owed*total %> for 
		  	<b><%= @expenses.find{|d| d.id==debt.expense_id}.item %></b>
		</p>

		<% end %>
	<% end %>
<% else %>

	<h1>Not Your Mom</h1>
	<div id="user_nav">
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	  <% else %>
	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> or
	    <%= link_to 'Login with Facebook', '/auth/facebook/' %>
	  <% end %>
	</div>
	<p>Hello? Yes this is dog.</p>

<% end %>
