<p id="notice"><%= notice %></p>

<p>
  <h4>Expenses with tagged with <%= @tag.name %> </h4>
	  <table>
	  <tr>
	    <th>Price</th>
	    <th>Item</th>
	    <th>Description</th>
	    <th>Resolved</th>
	    <th>User</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @expenses.each do |expense| %>
	  <tr>
	    <td><%= expense.price %></td>
	    <td><%= expense.item %></td>
	    <td><%= expense.description %></td>
	    <td><%= expense.resolved %></td>
	    <td><%= expense.user.full_name %></td>
	    <td><%= link_to 'Show', expense %></td>
	    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
	    <td><%= link_to 'Destroy', expense, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>
</p>


<%= link_to 'Back', tags_path %>
