
<center>
<p align="left">You will be able to create expenses for your household here. Simply enter the total value of the expense and indicate the percentage owed per person!  <br /><br /> 
</p>
<div style="text-align:left;width:60%;">
  <%= form_for(@expense) do |f| %>
    <% if @expense.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <div style="width:350px;overflow:auto;position:relative;">
        <div style="float:left;">
          <%= f.label :item %><br />
          <%= f.text_field :item, :size => 30 %>
        </div>
        <div style="float:right;position:absolute;right:0;">
          <%= f.label :price %><br />
          <%= f.text_field :price, :size => 15 %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :household_id, :value => current_user.household_id %>
    </div>
    <div class="field">
      <%= f.label :description  %><br />
      <%= f.text_area :description, :rows => 5, :cols => 41 %>
    </div>
    <div class="field right">
      <%= f.label :has_been_resolved? %>
      <%= f.check_box :resolved %> &nbsp;&nbsp;
    </div>
    <br />
    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tag_list, :size => 50 %>
    </div>

    <div class="field">
      <%= f.fields_for :reminder do |reminder_builder| %>
      <br />
      <%= reminder_builder.label :reminder_date %>
      <%= reminder_builder.text_field :date, :include_blank => true, :id => "datepicker", :size => 12 %>
      <%end%>
    </div>

    <h4>Deligate Payment Slices</h4>
    <div class="field">
      <p>
        <div>
          Your slice will be: 
          <% if @editpage %> $<%= @split.round(2) %> 
          <% else %> <%= @payer_split %>% <%end%>
        </div>
      </p>
      <%= f.fields_for :debts do |debt_builder| %>
        <p>
          <div style="width:360px;overflow:auto;position:relative;">
            <div style="float:left">
              <b><%= debt_builder.object.user.full_name %></b>
              <%= debt_builder.hidden_field :user_id %> 
              owes 
              <%= debt_builder.text_field :percentage_owed, :size => 5 %>%
            </div>
            <div style="float:right;position:absolute;right:0;">
              <%= debt_builder.label :paid %>
              <%= debt_builder.check_box :paid %>
            </div>
          </div>
        </p>
      <% end %>

    </div>  <br />
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>

</center>
