<div id="search">
    <%= render :partial => 'expenses/searchbar' %>
</div>
<div id="filter">
  <%= form_tag '', :method=>:get do %>
    <%= select_tag(:filter, 
        options_for_select([['All',0], ['Past 7 days',7], ['This Month',30], ['Last 6 months', 180,], ['This Year',365]])) %>
    <%= submit_tag "Filter" %> 
  <% end %>
</div>

<div>
  <% if !@date.nil? %>
  Showing expenses since <%= @date %>
  <% end %>
</div>


<h1>Outstanding Household expenses</h1>

<% if @expenses.count > 0 %>
    <table class="std_fmt">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>By</th>
        <th></th>
        <th></th>
      </tr>

    <% @expenses.each do |expense| %>
      <tr>
        <td><span title="<%= expense.description %>"><%= link_to expense.item, expense %></span></td>
        <td>$<%= expense.price %></td>
        <td><% if expense.user_id == current_user.id %>You<%else%><%= expense.user.firstName %><%end%></td>
        <td><% if expense.user_id == current_user.id %><%= link_to 'Edit', edit_expense_path(expense) %> <% end %></td>
        <td><% if expense.user_id == current_user.id %><%= link_to 'Delete', expense, confirm: 'Are you sure?', method: :delete %> <% end %></td>
      </tr>
    <% end %>
    </table>
<% else %>
    <br />
        <div style="text-align:center"><span class="big_link">You do not have any outstanding payments.</span></div>   
    <br />
<% end %>

<% if @expenses_done.count > 0 %>
    <h1>Resolved</h1>
    <table class="std_fmt">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Created By</th>
      </tr>

    <% @expenses_done.each do |expense| %>
      <tr>
        <td title="<%= expense.description %>"><%= expense.item %></td>
        <td>$<%= expense.price %></td>
        <td><%= expense.user.full_name %></td>
      </tr>
    <% end %>
    </table>
<% end %>

<br />
<div class="dash_box" style="float:right;">
    <br />
    <a class="big_link" href="/expenses/new">Create New Expense</a></span>
</div>
