
<h1>Search results for: <%=@keyword%></h1>

<% if @expenses.count > 0 %>
    <table class="std_fmt">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>By</th>
        <th></th>
        <th></th>
      </tr>

    <% @expenses.each do |expense| %>
      <tr>
        <td><span title="<%= expense.description %>"><%= link_to expense.item, expense %></span></td>
        <td>$<%= expense.price %></td>
        <td><% if expense.user_id == current_user.id %>You<%else%><%= expense.user.firstName %><%end%></td>
        <td><% if expense.user_id == current_user.id %><%= link_to 'Edit', edit_expense_path(expense) %> <% end %></td>
        <td><% if expense.user_id == current_user.id %><%= link_to 'Delete', expense, confirm: 'Are you sure?', method: :delete %> <% end %></td>
      </tr>
    <% end %>
    </table>
<% else %>
    <br />
        <div style="text-align:center"><span class="big_link">Your search has not returned any results.</span></div>   
    <br />
<% end %>

<br /><br />
<%=link_to "Back to Expenses", expenses_path %> 
