<h1> Expense Lookup : <%=@expense.item%></h1>
<h3>Tags: <% @expense.tags.any? %>
      <% @expense.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.id) %><% if tag != @expense.tags.last %>,<% end %>
<% end %></h3>

<table class="std_fmt">
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Resolved</th>
    <th>User</th>
    <th></th>
    <th>Reminder</th>
  </tr>
  <tr>
    <td><%= @expense.description %></td>
    <td>$<%= number_with_precision(@expense.price, :precision => 2) %></td>
    <td><% if @expense.resolved %>Yes<%else%>No<%end%></td>
    <td><%= @expense.user.full_name %> </td>
    <td><% if @expense.user.id == current_user.id %><%= link_to 'Edit', edit_expense_path(@expense) %><%end%></td>
    <td>
      <% if @reminder != nil %>
        <%= @reminder.date.month %>/<%= @reminder.date.day %>/<%= @reminder.date.year %>
      <%else%>
        None
      <%end%>
    </td>
  </tr>
</table>
<div class="float_right block">
  <table class="debt_box">
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @debts.each do |debt| %>
    <tr>
      <td><%=debt.user.firstName%> <%=debt.user.lastName%></td>
      <td><b>
        $<%= number_with_precision(debt.percentage_owed*debt.expense.price/100, :precision => 2) %>
      </b></td>
      <td><% if(debt.paid)%>Paid <% else%> Unpaid <%end %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="ns_comments">
  <div id="inline-comments">
  <% if @expense.comments.any? %>
    <% @expense.comments.each do |c| %>
      <div class="comment"><%= c.comment %></div>
    <% end %>
  <% end %>
  </div>
<form id="inline-comment-form">
  <!-- Yo, this shit cray right here -->
  <input type="text" id="comment" name="comment[comment]" placeholder="Add a comment..." />
  <input type="hidden" name="comment[expense_id]" value="<%= @expense.id %>" />
  <input type="hidden" name="comment[user_id]" value="<%= @user.id %>" />
  <input type="hidden" name="authenticity_token" value=""/>
</form>
</div>

<%= link_to "Back to Expenses", expenses_path %>
