<h1> Expense Lookup </h1>


<table class="std_fmt">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
    <th>Resolved</th>
    <th>User</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @expense.item %></td>
    <td><%= @expense.description %></td>
    <td>$<%= @expense.price %></td>
    <td><%= @expense.resolved %></td>
    <td><%= @expense.user.full_name %> </td>

    <td>  <% @expense.tags.any? %>
      <% @expense.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.id) %>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_expense_path(@expense) %></td>
  </tr>

</table>

<br />
<%= link_to 'Back', expenses_path %>

