<h1> Expense Lookup : <%=@expense.item%></h1>
<h3>Tags: <% @expense.tags.any? %>
      <% @expense.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.id) %><% if tag != @expense.tags.last %>,<% end %>
<% end %></h3>

<table class="std_fmt">
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Resolved</th>
    <th>User</th>
    <th></th>
    <th>Reminder</th>
  </tr>
  <tr>
    <td><%= @expense.description %></td>
    <td>$<%= "%.2f" % @expense.price %></td>
    <td><% if @expense.resolved %>Yes<%else%>No<%end%></td>
    <td><%= @expense.user.full_name %> </td>
    <td><% if @expense.user.id == current_user.id %><%= link_to 'Edit', edit_expense_path(@expense) %><%end%></td>
    <td>
      <% if @reminder != nil %>
        <%= @reminder.date.month %>/<%= @reminder.date.day %>/<%= @reminder.date.year %>
      <%else%>
        None
      <%end%>
    </td>
  </tr>
</table>
<br>
<h3> Debts Owed </h3>
  <div class="float_right block"> 
  <table class="debt_box std_fmt">
    <tr>
      <th>User</th>
      <th>Amount Owed</th>
      <th>Pay Status</th>
    </tr>
<% @debts.each do |debt| %>
    <tr>
      <td><%=debt.user.firstName%> <%=debt.user.lastName%> </td>
      <td><b>$<%= "%.2f" % (debt.percentage_owed*debt.expense.price/100).round(2)%></b></td>
      <td><% if(debt.paid)%>Paid <% else%> Unpaid <%end %></td>
    </tr>
<% end %>
  </table>
  <br>

<%= link_to "Back to Expenses", expenses_path %>
  </div>
