<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @expense.price %>
</p>

<p>
  <b>Item:</b>
  <%= @expense.item %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Resolved:</b>
  <%= @expense.resolved %>
</p>

<p>
  <b>User:</b>
  <%= @expense.user.full_name %>
</p>
<p>
  <% @expense.tags.any? %>
        <% @expense.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.id) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
