<% if !flash[:notice].blank? %>
  <div class="notice2">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= @saved %>
<% if @households.count > 0 %>

    <div class="right">
    <% @households.each do |household| %>
          <h1>You are in <i><%= household.name %></i> House</h1>
          <% if current_user.is_head_of_house %>
                <%= link_to 'Change House Name', edit_household_path(household) %> &nbsp;|&nbsp;
                <%= link_to 'Delete', household, confirm: 'Are you sure?', method: :delete %>
                &nbsp;|&nbsp;
          <% end %>
          <%= link_to 'Leave', leave_household_path(household) %>
    <% end %>
    </div>

    <% if current_user.is_head_of_house %>
        <div class="invitation new">
          <%= form_for(:invitation, :url => {:controller => :invitations, :action => :index}) do |f| %>

              <div summary="Invitation form fields">
                <%= f.label :recipient_email, "Friend's email address" %><br />
                <%= f.text_field(:recipient_email) %>
              </div>
              <div class="form-buttons">
                <%= submit_tag("Invite!") %>
              </div>
          <% end %>
        </div>
        <% if !@invitations.nil? %><h3> Invitations Sent</h3>
        <% @invitations.each do |invitation| %>
            <% if !invitation.accepted  %>
                <%=  invitation.recipient_email %>
                <%=  link_to 'Delete', invitation, confirm: 'Are you sure?', method: :delete %>
            <% end %>
            <br />
        <% end %>
        <% end %>
    <% end %>



  <br />
<% else %>
  You are not yet part of a household. <%= link_to 'Create one', new_household_path %>?
<% end %>

<% if @members.length > 0 %>
  <h3> Housemembers </h3>
  <table class="std_fmt">
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Amount Due  </th>
      <th></th>
      <th></th>
    </tr>
    <% @consolidated_debts.each do |debt| %>
      <tr>
        <td><%=debt[:member].full_name %></td>
        <td><%=debt[:member].email %></td>
        <td><% sum = (-1)*debt[:value].round(2) %>
            <%if sum > 0 %><span class="red">$<%="%.2f" % sum%></span><%else%><span class="green">$<%="%.2f" % ((-1)*sum) %></span><%end%>
        </td>
        <td><% if sum > 0 %>Pay<%end%></td>
        <td><% if current_user.is_head_of(@households[0]) %>
            <%= link_to 'Exile', exile_household_path(@households[0], debt[:member].id), :method => :put %>
        <% end %></td>
      </tr>
    <% end %>
  </table>
<% end %>

