

<% if @households.count > 0 %>

    <div class="right">
    <% @households.each do |household| %>
          <h1>You are in <i><%= household.name %></i> House</h1>
          <% if current_user.is_head_of_house %>
                <%= link_to 'Change House Name', edit_household_path(household) %> &nbsp;|&nbsp;
                <%= link_to 'Delete', household, confirm: 'Are you sure?', method: :delete %>
                &nbsp;|&nbsp;
          <% end %>
          <%= link_to 'Leave', leave_household_path(household) %>
    <% end %>
    </div>
  <br />
<% else %>
  You are not yet part of a household. <%= link_to 'Create one', new_household_path %>?
<% end %>

<% if @members.length > 0 %>
  <table class="std_fmt">
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th></th>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td><%=member.firstName %> <%=member.lastName %></td>
        <td><%=member.email %></td>
        <% if current_user.is_head_of_house %>
            <td><a href="#">Exile</a></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br /><br />
<div class="dash_box" style="float:right;">
    <h3>Send an Invite!</h3>
    <input type="text" name="email" placeholder="e-mail" size="30" /><a class="big_link" href="#"> GO</a></span>
</div>
