<% if !flash[:notice].blank? %>
  <div class="notice2">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @households.count > 0 %>

    <div class="right">
    <% @households.each do |household| %>
          <h1>You are in <i><%= household.name %></i> House</h1>
          <% if current_user.is_head_of_house %>
                <%= link_to 'Change House Name', edit_household_path(household) %> &nbsp;|&nbsp;
                <%= link_to 'Delete', household, confirm: 'Are you sure?', method: :delete %>
                &nbsp;|&nbsp;
          <% end %>
          <%= link_to 'Leave', leave_household_path(household) %>
    <% end %>
    </div>
  <br />
<% else %>
  You are not yet part of a household. <%= link_to 'Create one', new_household_path %>?
<% end %>

<% if @members.length > 0 %>
  <table class="std_fmt">
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Amount Due  </th>
      <th></th>
      <th></th>
    </tr>
    <% @consolidated_debts.each do |debt| %>
      <tr>
        <td><%=debt[:member].full_name %></td>
        <td><%=debt[:member].email %></td>
        <td><% sum = (-1)*debt[:value].round(2) %>
            <%if sum > 0 %><span class="red">$<%=sum%></span><%else%><span class="green">$<%=(-1)*sum%></span><%end%>
        </td>
        <td><% if sum > 0 %>Pay<%end%></td>
        <td><% if current_user.is_head_of(@households[0]) %>
            <%= link_to 'Exile', exile_household_path(@households[0], debt[:member].id), :method => :put %>
        <% end %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br />  
<div class="dash_box" style="float:right;">
    <h3>Send an Invite!</h3>
  <%= form_for(:invitation, :url => {:controller => :invitations, :action => :create}) do |f| %>
  
    <div summary="Invitation form fields">
        <%= f.text_field(:recipient_email, :placeholder => "e-mail", :size => 30) %>  

      <span class="big_link"><%= submit_tag("GO", :class => "big_button") %></span
    </div>
    
  <% end %>
</div>
</div>
