<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b><br/>
  <%= @household.name %><br/>
  <b>House Members:</b><br/>
  <% @users.each do |user| %>
     <%= user.firstName + " " + user.lastName + " " + user.email %><br/>
  <% end %>
  <b>Expenses:</b><br/>
  <% @expenses.each do |expense| %>
  	<%= expense.price.to_s + " " + expense.item + " " + expense.created_at.to_s %> <br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
