<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b><br/>
  <%= @household.name %><br/>
  <b>House Members:</b><br/>
  <% @household.users.each do |user| %>
     <%= user.full_name %><br/>
  <% end %>
  <b>Expenses:</b><br/>
  <% @household.expenses.each do |expense| %>
  	<%= expense.price.to_s + " " + expense.item + " " + expense.created_at.to_s %> <br/>
  <% end %>
  <b>Head of Household:</b><br/>
  <%= @household.head.full_name %>
</p>

<% if current_user.is_head_of_house %>
    <%= link_to 'Edit', edit_household_path(@household) %> |
<% end %>
<%= link_to 'Back', households_path %>
