<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b><br/>
  <%= @household.name %><br/>
  <b>House Members:</b><br/>
  <% @users.each do |user| %>
     <%= user.f_name + " " + user.l_name + " " + user.email %><br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
